/* Lesson 7 */
.icons-sprite, .icons-briefcase, .icons-car, .icons-marker, .icons-speakers, .custom-class {
  background-image: url('/images/icons-s4639d61de8.png');
  background-repeat: no-repeat; }

.icons-briefcase {
  background-position: 0 0; }

.icons-car {
  background-position: 0 -32px; }

.icons-marker {
  background-position: 0 -64px; }

.icons-speakers {
  background-position: 0 -96px; }

/* Get the image size */
.sprites-test li {
  display: block;
  height: 32px;
  width: 32px; }

.custom-class {
  background-position: 0 0; }

/* Codeschool way */
